{% extends 'quotes/header.html' %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      {% for quote in quotes %}
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
          {% include 'quotes/includes/quote.html' %}
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <script>

  function getAuthorDetails(element){
    $author = $(element).parent().parent().parent().find('p').find('.quote-author').html();
    url = '/dashboard/' + $author + '/details';
    $.ajax({
      url: url,
      method: 'GET',
      success: function(data){
        triggerModal(data)
      },
      error: function(error){

      }
    });  
  }

  function deleteQuote(element){
    if (confirm('Are you sure you want to delete this Quote?')){

    }
  }

  function triggerModal(data){
    $modal = $('#myModal');
    $modal.find('.modal-dialog').find('.modal-content').find('.modal-body').html(data.description);
    $modal.modal();
  }
  </script>

  </body>
  <script>
  $(function(){
    $('.like-btn').on('click', function(){
      likeQuote(this);
    });
    function likeQuote(thumb){
      {% if user.is_authenticated %}
        $(thumb).toggleClass('btn-like-quote')

        // route: /like/(id)
        // Take the index of the current like-button and add
        // 1 to it (so it starts at 1) to match the primary-key
        // of the database

        id = $('.like-btn').index(thumb)+1
        var url = '/like/' + id.toString()
        $.ajax({
          url: url,
          data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
          method: 'POST',
          success: function(){
          }
        })
      {% else %}
        window.location='/login'
      {% endif %}
    }
  });
  </script>

{% endblock %}
